@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: black url(../imagens/fundo2.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    height: 628px;
    width: 320px;
    background: url(../imagens/foto-celular.png) no-repeat;
    
}

iframe#tela {
    position: relative;
    top: 71px;
    left: 14px;
    width: 293px;
    height: 477px;
    border-radius: 2px;
}

section#rede-social {
    text-align: left ;
}

section#rede-social img {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    border-radius: 2px 2px 5px rgba(0, 0, 0, 0.377);
     
}

section#rede-social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.432);
    transform: translate(3px, 3px);
    transition: 0.1s;

}